<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html lang="fr" class="iem7"> <![endif]-->
<!--[if lt IE 7 ]> <html lang="fr" class="ie6 oldie"> <![endif]-->
<!--[if IE 7 ]>    <html lang="fr" class="ie7 oldie"> <![endif]-->
<!--[if IE 8 ]>    <html lang="fr" class="ie8 oldie"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html lang="fr-FR">
    <!--<![endif]-->

<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<title>Cours particuliers Superprof - Trouvez un professeur particulier</title>
	<meta name="Description" lang="fr-FR" content="Trouvez votre professeur particulier parmi plus de 600 000 annonces de cours particuliers à domicile dans 2000 matières sur toute la France." />	<link rel="canonical" href="https://www.superprof.fr/" />

<!-- Google Tag Manager -->
<!-- End Google Tag Manager -->

<meta name="robots" content="index, follow" />
<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=0"/><meta name="google-signin-client_id" content="278893467141-vt9iavocc2ekr6941ij629sa4k9l8q9k.apps.googleusercontent.com">
        <link rel="stylesheet" type="text/css" href="https://c.superprof.com/style/css/style-202302221329.css" />
        <link rel="stylesheet" type="text/css" href="https://c.superprof.com/style/css/mod-home-202302221329.css" />
        <link rel="apple-touch-icon" href="https://c.superprof.com/style/images/favicon/s_rose_76.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="https://c.superprof.com/style/images/favicon/s_rose_76.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="https://c.superprof.com/style/images/favicon/s_rose_120.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="https://c.superprof.com/style/images/favicon/s_rose_152.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="https://c.superprof.com/style/images/favicon/s_rose_180.png" />
		<link rel="icon" sizes="192x192" href="https://c.superprof.com/style/images/favicon/s_rose_192.png" />
		<link rel="shortcut icon" sizes="76x76" type="image/x-icon" href="https://c.superprof.com/style/images/favicon/s_rose_76.ico" />
		<link rel="mask-icon" href="https://c.superprof.com/style/images/favicon/s_rose.svg" color="#FF5A5F" />

        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="theme-color" content="#ffffff" />
	<meta name="google" content="nositelinkssearchbox" />
	<meta prefix="og: http://ogp.me/ns#" property="og:title" content="Superprof - La communauté des professeurs particuliers" />
	<meta prefix="og: http://ogp.me/ns#" property="og:image" content="https://c.superprof.com/style/images/header/v4/logo_full_pink.svg" />
	<meta prefix="og: http://ogp.me/ns#" property="og:site_name" content="Superprof" />
	<meta prefix="og: http://ogp.me/ns#" property="og:description" content="Trouvez votre professeur pour des cours particuliers ou collectifs parmi 1 000 000 profils. A domicile, chez le professeur, dans une salle dédiée ou même par webcam." />
	<meta prefix="og: http://ogp.me/ns#" property="fb:app_id" content="541897999191679" />
	<link rel="alternate" hreflang="fr-FR" href="https://www.superprof.fr/" />
	<link rel="alternate" hreflang="fr-BE" href="https://www.superprof.be/" />
	<link rel="alternate" hreflang="en-CA" href="https://www.superprof.ca/" />
	<link rel="alternate" hreflang="fr-CH" href="https://www.superprof.ch/" />
	<link rel="alternate" hreflang="fr-LU" href="https://www.superprof.lu/" />
	<link rel="alternate" hreflang="en-US" href="https://www.superprof.com/" />
	<link rel="alternate" hreflang="es-ES" href="https://www.superprof.es/" />
	<link rel="alternate" hreflang="it-IT" href="https://www.superprof.it/" />
	<link rel="alternate" hreflang="pt-PT" href="https://www.superprof.pt/" />
	<link rel="alternate" hreflang="en-GB" href="https://www.superprof.co.uk/" />
	<link rel="alternate" hreflang="pt-BR" href="https://www.superprof.com.br/" />
	<link rel="alternate" hreflang="de-DE" href="https://www.superprof.de/" />
	<link rel="alternate" hreflang="es-MX" href="https://www.superprof.mx/" />
	<link rel="alternate" hreflang="en-IN" href="https://www.superprof.co.in/" />
	<link rel="alternate" hreflang="es-CL" href="https://www.superprof.cl/" />
	<link rel="alternate" hreflang="es-AR" href="https://www.superprof.com.ar/" />
	<link rel="alternate" hreflang="es-CO" href="https://www.superprof.co/" />
	<link rel="alternate" hreflang="nl-NL" href="https://www.super-prof.nl/" />
	<link rel="alternate" hreflang="en-AU" href="https://www.superprof.com.au/" />
	<link rel="alternate" hreflang="id-ID" href="https://www.superprof.co.id/" />
	<link rel="alternate" hreflang="ja-JP" href="https://www.superprof.jp/" />
	<link rel="alternate" hreflang="tr-TR" href="https://www.superprof.com.tr/" />
	<link rel="alternate" hreflang="no-NO" href="https://www.superprof.no/" />
	<link rel="alternate" hreflang="en-ZA" href="https://www.superprof.co.za/" />
	<link rel="alternate" hreflang="sv-SE" href="https://www.superprof.se/" />
	<link rel="alternate" hreflang="en-NG" href="https://www.superprof.ng/" />
	<link rel="alternate" hreflang="pl-PL" href="https://www.superprof.pl/" />
	<link rel="alternate" hreflang="ko-KR" href="https://www.superprof.co.kr/" />
	<link rel="alternate" hreflang="nl-BE" href="https://nl.superprof.be/" />
	<link rel="alternate" hreflang="en-IE" href="https://www.superprof.ie/" />
	<link rel="alternate" hreflang="en-MY" href="https://www.superprof.com.my/" />
	<link rel="alternate" hreflang="en-NZ" href="https://www.superprof.co.nz/" />
	<link rel="alternate" hreflang="de-AT" href="https://www.superprof.at/" />
	<link rel="alternate" hreflang="da-DK" href="https://www.superprof.dk/" />
	<link rel="alternate" hreflang="fi-FI" href="https://www.superprof.fi/" />
	<link rel="alternate" hreflang="de-CH" href="https://de.superprof.ch/" />
	<link rel="alternate" hreflang="ru-RU" href="https://www.superprof.ru/" />
	<link rel="alternate" hreflang="uk-UA" href="https://www.superprof.com.ua/" />
	<link rel="alternate" hreflang="hu-HU" href="https://www.super-prof.hu/" />
	<link rel="alternate" hreflang="es-PE" href="https://www.superprof.pe/" />
	<link rel="alternate" hreflang="es-UY" href="https://www.superprof.uy/" />
	<link rel="alternate" hreflang="es-CR" href="https://www.superprof.cr/" />
		<style type="text/css">.popin-overlay.hidden,.popin-global.hidden,.notification.hidden{visibility:hidden}</style>

<script src="https://www.google.com/recaptcha/api.js?render=6LeJO3kiAAAAAFQzknEpqPex6i52lIyimVLUoA3K" async defer></script><script>window._recaptcha_enabled = true;window._recaptcha_site_key = "6LeJO3kiAAAAAFQzknEpqPex6i52lIyimVLUoA3K";</script>
</head>
<body class="p1">
        <div id="fb-root"></div>
        <div class="sp-global"><div
id="sp-vue-container"> <script>window.header_config  = {"searchFields":{"subject":"","city":"","lat":null,"lng":null},"trademark":[{"url":"https://c.superprof.com/style/images/logos/superprof.svg","href":"/","color":"pink","alt":"Cours particuliers avec Superprof","width":120,"height":24}],"stickyThresoldDOMPath":".search-box-v3-2","elementsToHide":{"0":[1,3],"1":[3]},"elementsToHideMobile":{},"linksToHide":[4,5,12,13,14,10,6],"loggedIn":false,"presetSubjects":[],"presetCoordonate":null,"presetLinks":{"ELEMENTS":{"0":"/","2":"/donner-cours-particuliers/","3":"#","4":"https://www.superprof.fr/aide/","5":"/tableau-de-bord.html/favoris/","6":"https://www.superprof.fr/achat-supercarte","7":"https://www.superprof.fr/tableau-de-bord.html/cadeau"},"MENU":{"8":"https://www.superprof.fr/aide/","9":"/donner-cours-particuliers/"}},"labels":{"search_engine_main_text":"Que souhaitez-vous apprendre ?","search_engine_search_fields":{"subject":"Mati\u00e8re","city":"Lieu du cours"},"search_engine_geolocation":{"success":"Utiliser votre localisation","error":"Votre localisation n\\'a pas pu \u00eatre trouv\u00e9e. Veuillez v\u00e9rifier votre adresse. Vous pouvez nous envoyer un email \u00e0 camille@superprof.com si celle-ci est bien la bonne."},"search_engine_city_options_localize":"Autour de moi","search_engine_city_options_online":"En ligne","search_engine_submit_mobile":"Rechercher","search_engine_dropdown_mobile_subject_title":"Top matieres","search_engine_dropdown_mobile_city_title":"Top ville","buttons_links_landing_teacher":"Donner des cours","buttons_links_create_ad":"Cr\u00e9er une annonce","buttons_links_give_gift_card":"Offrir une carte","buttons_links_use_gift_card":"Utiliser ma carte","buttons_links_signup":"Connexion","menu_signin":"Connexion","menu_signup":"Inscription","menu_links_search":"Rechercher un professeur","menu_links_help":"Aide"},"themeLayout":"ABSOLUTE_WITH_STICKY_NO_MAIN_BG"}</script> 
<header
is="super-header" class="super-header" v-bind="header_config"><div
class="placeholder-header absolute-mode"><div
class="static-content themes transparent"><div
class="trademark">
<a
href="/" style="background-image: url(https://c.superprof.com/style/images/logos/superprof.svg); mask-image: url(https://c.superprof.com/style/images/logos/superprof.svg)" aria-label="logo.alt" title="logo.alt"></a></div>
<div class="header-buttons">
<a
href="/" class="basic-header-button caption has-icon">
<span
class="notification-badge"></span> </a>
<a
href="/donner-cours-particuliers/" class="basic-header-button caption has-icon">
<span class="notification-badge"></span> </a>
<a id="Connexion" href="/" class="basic-header-button caption has-icon">
<span class="notification-badge"></span>
</a></div></div></div>
</header>
</div>
<div
id="homeV4" class="home-v4"><div
class="primary-content"><div
class="main-search"><div
class="main-search-container"><div
class="main-search-tool"><div
class="main-text"><h1>Trouvez le <br>professeur parfait</h1><p>En ligne ou en face-à-face,<br>faites votre choix parmi <span class="emphasis">22 millions de professeurs</span></p></div><div
class="search search-placeholder suggest-city"><form
class="search-box-v3-2 home-search-form autocomplete-form autocomplete-form-nosubmit HomeV2_form js-homeV2form"
method="post" action="/form-search.html" data-type="toute_matiere"><div
class="home-search-form-container search-header-form-visibility-trigger"><div
class="placeholder-picto"></div>
<label
for="search-placeholder-trigger">Que voulez-vous apprendre ?</label><div
class="home-search-form-inner autocomplete">
<input
data-proxy="subject.input" data-proxy-field="subject" data-sync="subject"
class="HomeV2_input Search_box_input autocomplete-search-empty autocomplete-input HomeV2_wSubject"
id="search_subject" type="text" placeholder="Essayer “Maths”"
name="search_subject" autocomplete="off" data-autocomplete-search-empty="true"
data-autocomplete-ajax-url="/a/getSubjects/"
data-autocomplete-result-html="<div>___data___</div>" /><div
class="home-search-results autocomplete-results"></div></div><div
class="home-search-form-inner"><div
class="HomeV2_adress">
<input
data-proxy="city.input" data-proxy-field="city" data-sync="gplace" name="search_city"
class="HomeV2_input Search_box_input HomeV2_inputAddress HomeV2_GoogleAutocomplete"
id="search_city"
data-country-code="[&quot;FR&quot;,&quot;GP&quot;,&quot;MQ&quot;,&quot;MC&quot;,&quot;RE&quot;]"
type="text" placeholder="Adresse ou ville" />
<input
data-presets="search_lat" data-path="d_presetCoordonate" data-field-name="lat" type="hidden" id="search_lat" name="search_lat" value="" />
<input
data-presets="search_lng" data-path="d_presetCoordonate" data-field-name="lng" type="hidden" id="search_lng" name="search_lng" value="" />
<input
type="hidden" id="search_location" name="location" value="" />
<input
type="hidden" name="src" value="home" />
<input
type="hidden" name="isV_search" value="" />
<input
type="hidden" name="search_custom_type" value="" />
<input
type="hidden" name="search_id_type" value="" /><div
class="home-search-results autocomplete-results"></div><div
class="search-top-town"><p
class="tab text town locate choice-locate" tabindex="-1">Autour de moi</p><p
class="tab text town choice-webcam" tabindex="-1">En ligne</p></div></div></div><div
class="btn-container">
<button
class="btn HomeV2_searchButton search-header-submit button-topHide"
type="submit"><span
class="text">Rechercher</span></button></div></div></form></div><div
class="mobile-text"><p>En ligne ou en face-à-face,<br>faites votre choix parmi<br><span class="emphasis">22 millions de professeurs</span></p></div></div><div
class="teachers-overview-mask"><div
class="teachers-overview">
<ul>
<li>
<img
class="lazy" data-src="https://c.superprof.com/img/home/ann/1/Alyse.webp" alt="Prof de français" >
<img
class="lazy fallback" data-src="https://c.superprof.com/img/home/ann/1/Alyse.jpg" alt="Prof de français" ><div
class="bubble-wrapper"><div
class="bubble"><h6>Alyse</h6>
<p>Prof de français</p>

<div
class="rating">
<span
class="picto"></span>
<span
class="number">5.0</span>
<span
class="reviews-count">
<span
class="desktop-only">(34 avis)</span>
<span
class="mobile-only">(34 avis)</span>
</span></div>
</div></div></li>
<li>
<img
class="lazy" data-src="https://c.superprof.com/img/home/ann/1/Adlane-guitare-443816.webp" alt="Prof de guitare" >
<img
class="lazy fallback" data-src="https://c.superprof.com/img/home/ann/1/Adlane-guitare-443816.jpg" alt="Prof de guitare" ><div
class="bubble-wrapper"><div
class="bubble"><h6>Adlane</h6>
<p>Prof de guitare</p>

<div
class="rating">
<span
class="picto"></span>
<span
class="number">5.0</span>
<span
class="reviews-count">
<span
class="desktop-only">(96 avis)</span>
<span
class="mobile-only">(96 avis)</span>
</span></div>
</div></div></li>
<li>
<img
class="lazy" data-src="https://c.superprof.com/img/home/ann/1/johanna-anglais-33206.webp" alt="Prof d'anglais" >
<img
class="lazy fallback" data-src="https://c.superprof.com/img/home/ann/1/johanna-anglais-33206.jpg" alt="Prof d'anglais" ><div
class="bubble-wrapper"><div
class="bubble"><h6>Johanna</h6>
<p>Prof d'anglais</p>

<div
class="rating">
<span
class="picto"></span>
<span
class="number">5.0</span>
<span
class="reviews-count">
<span
class="desktop-only">(26 avis)</span>
<span
class="mobile-only">(26 avis)</span>
</span></div>
</div></div></li>
<li>
<img
class="lazy" data-src="https://c.superprof.com/img/home/ann/1/aurelie-yoga.webp" alt="Prof de yoga" >
<img
class="lazy fallback" data-src="https://c.superprof.com/img/home/ann/1/Aurelie_superprof.jpg" alt="Prof de yoga" ><div
class="bubble-wrapper"><div
class="bubble"><h6>Aurélie</h6>
<p>Prof de yoga</p>

<div
class="rating">
<span
class="picto"></span>
<span
class="number">5.0</span>
<span
class="reviews-count">
<span
class="desktop-only">(6 avis)</span>
<span
class="mobile-only">(6 avis)</span>
</span></div>
</div></div></li>
</ul>
</div></div></div></div><div
class="reviews"><div
class="find-teacher main-text"><div
class="sticky-content"><div
class="mobile-only"><ul
class="stars"><li
class="starV2 star-fullV2"></li><li
class="starV2 star-fullV2"></li><li
class="starV2 star-fullV2"></li><li
class="starV2 star-fullV2"></li><li
class="starV2 star-fullV2"></li></ul></div><h3>Des enseignants <br>certifiés et étoilés</h3><p><span class="emphasis">Plus d’un million d’élèves</span> ont attribué une note de<span class="emphasis"><br>5 étoiles</span> à leur professeur</p><div
data-href="https://www.superprof.fr/s/,France,,.html" class="a-js btn">
<span
class="text">Trouvez votre professeur</span></div></div></div>
<div
class="list-mask"><div
class="list-container"><ul>
<li>
<a
href="/service-education-nationale-experience-france-monde.html"><div
class="intro"><div
class="avatar">
<img
class="lazy" data-src="https://c.superprof.com/i/a/1700541/743179/160/20220810005229/service-education-nationale-experience-france-monde.jpg" alt="Prof d'espagnol"></div><div
class="intro-wrapper"><p
class="name">Nadege</p><p
class="status">Prof d'espagnol</p><ul
class="stars">
<li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li></ul></div></div><p
class="text">Très contente d'avoir Nadège comme professeure. Elle est bienveillante, pédagague, methodique et drôle ! C'est un plaisir d'apprendre l'espagnol avec elle.</p><p
class="date">Aurélie Il y a 1 jour</p>
</a></li>
<li>
<a
href="/rappeur-chanteur-donne-cours-ecriture-paris-banlieue-niveaux.html"><div
class="intro"><div
class="avatar">
<img
class="lazy" data-src="https://c.superprof.com/i/a/16346330/8308455/160/20220923160917/rappeur-chanteur-donne-cours-ecriture-paris-banlieue-niveaux.jpg" alt="Prof de chant"></div><div
class="intro-wrapper"><p
class="name">Simon</p><p
class="status">Prof de chant</p><ul
class="stars">
<li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li></ul></div></div><p
class="text">Merci beaucoup Simon! Ce cours fut une très belle découverte pour moi! Il m'a fait faire des exercices que je n'avais encore jamais fait mais j'ai beaucoup aimé! D'ailleurs je...</p><p
class="date">Mboloniaina (Paola) Il y a 1 jour</p>
</a></li>
<li>
<a
href="/actuellement-etudiante-prete-faire-part-competences-fais-piano-chant-aide-devoirs.html"><div
class="intro"><div
class="avatar">
<img
class="lazy" data-src="https://c.superprof.com/i/a/15669075/7976327/160/20220817154412/actuellement-etudiante-prete-faire-part-competences-fais-piano-chant-aide-devoirs.jpg" alt="Prof de piano"></div><div
class="intro-wrapper"><p
class="name">Louisa</p><p
class="status">Prof de piano</p><ul
class="stars">
<li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li></ul></div></div><p
class="text">gentillesse de Louisa, patience sont les deux atouts de Louisa . le tout couronné par une approche autre de la musique et du piano. A découvrir....  </p><p
class="date">Yon Il y a 1 jour</p>
</a></li>
<li>
<a
href="/professeur-conservatoire-donne-cours-guitare-classique-solfege-uzege.html"><div
class="intro"><div
class="avatar">
<img
class="lazy" data-src="https://c.superprof.com/i/a/12984678/6783450/160/20220817151426/professeur-conservatoire-donne-cours-guitare-classique-solfege-uzege.jpg" alt="Prof de solfège"></div><div
class="intro-wrapper"><p
class="name">Nadir</p><p
class="status">Prof de solfège</p><ul
class="stars">
<li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li></ul></div></div><p
class="text">Nadir est un excellent professeur. Très pédagogue et très patient. il m'encourage en permanence. Et il sait où il veut me mener. Ses cours sont un plaisir tout en étant rigoureux</p><p
class="date">Hugues Il y a 1 jour</p>
</a></li>
<li>
<a
href="/grimpeur-jeune-age-cascadeur-cuc-ampus-nivers-ascades-saurais-aider-quete.html"><div
class="intro"><div
class="avatar">
<img
class="lazy" data-src="https://c.superprof.com/i/a/24967767/11393297/160/20230211160432/grimpeur-jeune-age-cascadeur-cuc-ampus-nivers-ascades-saurais-aider-quete.jpg" alt="Prof d'éveil sportif"></div><div
class="intro-wrapper"><p
class="name">Victor</p><p
class="status">Prof d'éveil sportif</p><ul
class="stars">
<li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li></ul></div></div><p
class="text">Cours pour un enfant de 8 ans. Victor a été top. Très pédagogique, très ludique, il a donné à Maxime de très bons conseils techniques et de sécurité. </p><p
class="date">Cécile Il y a 1 jour</p>
</a></li>
<li>
<a
href="/ancien-eleve-classe-preparatoire-grandes-ecoles-maths-physique-actuellement-ecole-dingenieur-lesilv.html"><div
class="intro"><div
class="avatar">
<img
class="lazy" data-src="https://c.superprof.com/i/a/18968195/10808150/160/20221027171909/ancien-eleve-classe-preparatoire-grandes-ecoles-maths-physique-actuellement-ecole-dingenieur-lesilv.jpg" alt="Prof de maths"></div><div
class="intro-wrapper"><p
class="name">Djoudi</p><p
class="status">Prof de maths</p><ul
class="stars">
<li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li><li class="starV2 star-fullV2"></li></ul></div></div><p
class="text">Pédagogue, clair et précis dans les explications, à l'écoute, patient et bienveillant. </p><p
class="date">Ylan Il y a 1 jour</p>
</a></li>
</ul></div></div>
</div></div><div
class="learning-content"><div
class="how-to"><h3>Apprendre n’a jamais <br>été aussi simple</h3><ul
class="steps"><li><div
class="steps-text"><h4>1. Recherchez</h4><p>Consultez librement les profils et contactez votre fantastique professeur selon vos critères (tarifs, diplôme, avis, cours à domicile ou par webcam).</p></div><div
class="steps-preview">
<video
autoplay loop muted playsinline preload="none">
<source
src="https://c.superprof.com/style/images/home/v4/animations/how-to/1.mov">
</video></div></li><li><div
class="steps-text"><h4>2. Contactez</h4><p>Rapides comme l’éclair, les enseignants vous répondent en quelques heures ! Et si vous ne trouvez pas tout de suite le professeur idéal, notre équipe sera là pour vous aider.</p></div><div
class="steps-preview">
<video
autoplay loop muted playsinline preload="none">
<source
src="https://c.superprof.com/style/images/home/v4/animations/how-to/2.mov">
</video></div></li><li><div
class="steps-text"><h4>3. Organisez</h4><p>Échangez et programmez vos cours particuliers simplement depuis votre messagerie avec votre professeur ou votre coach.</p></div><div
class="steps-preview">
<video
autoplay loop muted playsinline preload="none">
<source
src="https://c.superprof.com/style/images/home/v4/animations/how-to/3.mov">
</video></div></li></ul></div><div
class="where-to-find"><div
class="thumbnail desktop video-trigger lazy-bg" data-src="https://c.superprof.com/style/images/home/v4/alchimie-prof-eleve.jpg">

<img
class="lazy" data-src="https://img.youtube.com/vi/MVU8u6tIDCY/0.jpg" alt="youtube thumbnail"><div
class="thumbnail-btn">
<span
class="picto"></span>
<span
class="text">L'histoire de Clémence</span></div>
</div><div
class="text"><h3>Élève et professeur,<br>l'alchimie parfaite</h3><div
class="thumbnail mobile lazy-bg" data-src="https://c.superprof.com/style/images/home/v4/alchimie-prof-eleve.jpg"></div><p
class="comment">"Superprof est la plateforme qui a permis à mes deux enfants de se développer, de s'investir et d'avoir confiance en eux."</p><p
class="comment-name">Maman de Clémence</p><p
class="comment-grade">Élève de 1ère</p></div></div></div><div
class="subjects-content"><h3>1001 matières à explorer</h3><div
class="list-container">
<ul>


<li
class="category"><div
class="cat-wrapper">
<span>Sports & danse</span></div></li>



<li>
<a
href="/cours/photographie/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/182.jpg">
<span>Photographie</span>
</a></li>





<li>
<a
href="/cours/mix-dj/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/130.jpg">
<span>Mix - DJ</span>
</a></li>





<li>
<a
href="/cours/maths/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/13.jpg">
<span>Maths</span>
</a></li>





<li>
<a
href="/cours/anglais/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/224.jpg">
<span>Anglais</span>
</a></li>





<li>
<a
href="/cours/echecs/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/200.jpg">
<span>Échecs</span>
</a></li>





<li>
<a
href="/cours/solfege/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/134.jpg">
<span>Solfège</span>
</a></li>





<li>
<a
href="/cours/soutien-scolaire/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/4.jpg">
<span>Soutien scolaire</span>
</a></li>





<li>
<a
href="/cours/coreen/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/44.jpg">
<span>Coréen</span>
</a></li>





<li>
<a
href="/cours/yoga/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/171.jpg">
<span>Yoga</span>
</a></li>





<li>
<a
href="/cours/dessin/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/178.jpg">
<span>Dessin</span>
</a></li>





<li>
<a
href="/cours/psychologie/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/102.jpg">
<span>Psychologie</span>
</a></li>





<li>
<a
href="/cours/danse/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/144.jpg">
<span>Danse</span>
</a></li>





<li>
<a
href="/cours/developpement-web/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/250.jpg">
<span>Développement Web</span>
</a></li>



</ul>
<ul>


<li>
<a
href="/cours/physique/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/14.jpg">
<span>Physique</span>
</a></li>





<li>
<a
href="/cours/histoire-geo/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/638.jpg">
<span>Histoire - géo</span>
</a></li>





<li>
<a
href="/cours/chimie/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/15.jpg">
<span>Chimie</span>
</a></li>





<li
class="category"><div
class="cat-wrapper">
<span>Scolaire</span></div></li>



<li>
<a
href="/cours/python/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/677.jpg">
<span>Python</span>
</a></li>





<li>
<a
href="/cours/physique-chimie/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/1117.jpg">
<span>Physique - Chimie</span>
</a></li>





<li>
<a
href="/cours/finance/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/21.jpg">
<span>Finance</span>
</a></li>





<li>
<a
href="/cours/langue-des-signes/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/60.jpg">
<span>Langue des signes</span>
</a></li>





<li>
<a
href="/cours/guitare/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/123.jpg">
<span>Guitare</span>
</a></li>





<li>
<a
href="/cours/francais-langue-etrangere-fle/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/51.jpg">
<span>FLE - Français langue étrangère</span>
</a></li>





<li>
<a
href="/cours/arabe/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/34.jpg">
<span>Arabe</span>
</a></li>





<li>
<a
href="/cours/economie/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/20.jpg">
<span>Économie</span>
</a></li>





<li>
<a
href="/cours/excel/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/373.jpg">
<span>Excel</span>
</a></li>



</ul>
<ul>


<li
class="category"><div
class="cat-wrapper">
<span>Musique</span></div></li>



<li>
<a
href="/cours/japonais/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/58.jpg">
<span>Japonais</span>
</a></li>





<li>
<a
href="/cours/boxe-francaise/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/816.jpg">
<span>Boxe française</span>
</a></li>





<li>
<a
href="/cours/initiation-informatique/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/104.jpg">
<span>Initiation informatique</span>
</a></li>





<li>
<a
href="/cours/violoncelle/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/138.jpg">
<span>Violoncelle</span>
</a></li>





<li>
<a
href="/cours/tennis/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/168.jpg">
<span>Tennis</span>
</a></li>





<li>
<a
href="/cours/francais/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/28.jpg">
<span>Français</span>
</a></li>





<li>
<a
href="/cours/basse/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/114.jpg">
<span>Basse</span>
</a></li>





<li>
<a
href="/cours/piano/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/132.jpg">
<span>Piano</span>
</a></li>





<li>
<a
href="/cours/conduite/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/1131.jpg">
<span>Conduite</span>
</a></li>





<li>
<a
href="/cours/theatre/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/184.jpg">
<span>Théâtre</span>
</a></li>





<li>
<a
href="/cours/couture/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/196.jpg">
<span>Couture</span>
</a></li>





<li>
<a
href="/cours/saxophone/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/133.jpg">
<span>Saxophone</span>
</a></li>



</ul>
<ul>


<li>
<a
href="/cours/photoshop/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/378.jpg">
<span>Photoshop</span>
</a></li>





<li>
<a
href="/cours/aide-aux-devoirs/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/5.jpg">
<span>Aide aux devoirs</span>
</a></li>





<li>
<a
href="/cours/ukulele/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/233.jpg">
<span>Ukulélé</span>
</a></li>





<li>
<a
href="/cours/guitare-electrique/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/515.jpg">
<span>Guitare électrique</span>
</a></li>





<li>
<a
href="/cours/programmation/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/110.jpg">
<span>Programmation</span>
</a></li>





<li>
<a
href="/cours/management-des-organisations/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/1146.jpg">
<span>Management</span>
</a></li>





<li>
<a
href="/cours/natation/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/156.jpg">
<span>Natation</span>
</a></li>





<li>
<a
href="/cours/skate/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/164.jpg">
<span>Skate</span>
</a></li>





<li>
<a
href="/cours/comptabilite/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/19.jpg">
<span>Comptabilité</span>
</a></li>





<li>
<a
href="/cours/boxe-anglaise/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/142.jpg">
<span>Boxe anglaise</span>
</a></li>





<li>
<a
href="/cours/chant/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/116.jpg">
<span>Chant</span>
</a></li>





<li>
<a
href="/cours/roller/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/161.jpg">
<span>Roller</span>
</a></li>



</ul>
<ul>


<li>
<a
href="/cours/arts-plastiques/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/622.jpg">
<span>Arts plastiques</span>
</a></li>





<li>
<a
href="/cours/crypto-monnaie/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/1218.jpg">
<span>Crypto monnaie</span>
</a></li>





<li>
<a
href="/cours/cuisine/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/197.jpg">
<span>Cuisine</span>
</a></li>





<li>
<a
href="/cours/batterie/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/115.jpg">
<span>Batterie</span>
</a></li>





<li>
<a
href="/cours/coach-sportif/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/143.jpg">
<span>Coaching Sportif</span>
</a></li>





<li>
<a
href="/cours/allemand/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/33.jpg">
<span>Allemand</span>
</a></li>





<li>
<a
href="/cours/statistiques/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/9.jpg">
<span>Statistiques</span>
</a></li>





<li>
<a
href="/cours/espagnol/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/48.jpg">
<span>Espagnol</span>
</a></li>





<li>
<a
href="/cours/italien/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/57.jpg">
<span>Italien</span>
</a></li>





<li>
<a
href="/cours/droit-civil/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/89.jpg">
<span>Droit civil</span>
</a></li>





<li>
<a
href="/cours/remise-en-forme/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/160.jpg">
<span>Remise en forme</span>
</a></li>





<li>
<a
href="/cours/violon/france/" class="lazy-bg" data-src="https://c.superprof.com/img/home/mat/137.jpg">
<span>Violon</span>
</a></li>



</ul>
</div></div><div
class="bottom-content"><div
class="become-teacher"><div
class="content"><h2>Vous aussi, <br>devenez super professeur</h2><p>Partagez votre savoir, vivez de votre passion et devenez indépendant</p>
<a
href="https://www.superprof.fr/donner-cours-particuliers/" class="btn">
<span
class="text">En savoir plus</span>
</a></div><div
class="bubble-wrapper"><div
class="bubble"><h6>Davina</h6><p>Prof de samba</p><div
class="rating">
<span
class="picto"></span>
<span
class="number">5</span>
<span
class="reviews-count">(54 avis)</span></div></div></div></div></div>
<div
class="superguides-content"><div
class="superguides-container"><h3>Découvrez nos superguides</h3><div
class="basic-articles"><ul>
<li>
<a
href="https://www.superprof.fr/blog/guide-apprentissage-eleves/" target="_blank" class="article-wrapper"><div
class="visual">
<img
src="https://www.superprof.fr/blog/wp-content/uploads/2022/09/illustration-guide-apprentissage-700x279.png" alt="article image"></div><div
class="content"><h5>Guide d&rsquo;apprentissage de l&rsquo;étudiant &#8211; Automne 2022</h5><p
class="abstract">Comment améliorer ses capacités d’apprentissage ? Choisissez d’apprendre tout au long de votre vie. Votre cerveau et vos connaissances sont vos biens plus précieux. Albert Einstein Pour apprendre tout au long de la vie, il faut déjà savoir apprendre. Car savoir apprendre est une compétence à part entière. Pendant les premières années d&rsquo;école, les enfants [&hellip;]
</p><p
class="date">
<span>février 2023</span>
<span>24 minutes de lecture</span></p></div>
</a></li>
<li>
<a
href="https://www.superprof.fr/blog/choix-achat-guitariste/" target="_blank" class="article-wrapper"><div
class="visual">
<img
src="https://www.superprof.fr/blog/wp-content/uploads/2021/10/illustration_sp_guitare-1-700x279.png" alt="article image"></div><div
class="content"><h5>Débutant : Choisir sa Première Guitare !</h5><p
class="abstract">Décidé ? Vous vous lancez dans l’apprentissage de la guitare ? Avant de frimer devant les copains, il va falloir vous dégoter un instrument. Choisir une guitare quand on débute n’est pas chose aisée, puisqu’on ne sait évidemment pas encore jouer. 
</p><p
class="date">
<span>janvier 2023</span>
<span>11 minutes de lecture</span></p></div>
</a></li>
<li>
<a
href="https://www.superprof.fr/blog/panorama-national-cours-individuel/" target="_blank" class="article-wrapper"><div
class="visual">
<img
src="https://www.superprof.fr/blog/wp-content/uploads/2022/05/soutien-scolaire-france-700x279.png" alt="article image"></div><div
class="content"><h5>Le guide du cours particulier en France</h5><p
class="abstract">Un état des lieux du marché du cours particulier dans l&rsquo;Hexagone « Il n&rsquo;y a pas une méthode unique pour étudier les choses. » Aristote Les cours particuliers ne sont pas nouveaux, les professeurs particuliers ont d&rsquo;ailleurs existé avant l&rsquo;école telle qu&rsquo;on la connaît aujourd&rsquo;hui. A l&rsquo;époque, en Grèce antique, le système éducatif était réservé à l&rsquo;élite [&hellip;]
</p><p
class="date">
<span>février 2023</span>
<span>28 minutes de lecture</span></p></div>
</a></li>
</ul></div></div></div>
<div
class="towns-landing-content"><div
class="towns-container"><h3>Apprenez, <br>Explorez votre ville</h3><div
class="towns-list"><div
class="towns-list-container">
<div
class="towns-list-wrapper">
<div
class="town">
<a
href="/cours/toute-matiere/paris/">Paris</a>
<ul>
<li><a
href="/cours/coach-sportif/paris/">Coaching Sportif</a></li>
<li><a
href="/cours/anglais/paris/">Anglais</a></li>
<li><a
href="/cours/conduite/paris/">Conduite</a></li>
</ul>
</div>
<div
class="town">
<a
href="/cours/toute-matiere/marseille/">Marseille</a>
<ul>
<li><a
href="/cours/maths/marseille/">Maths</a></li>
<li><a
href="/cours/piano/marseille/">Piano</a></li>
<li><a
href="/cours/natation/marseille/">Natation</a></li>
</ul>
</div>
<div
class="town">
<a
href="/cours/toute-matiere/lyon/">Lyon</a>
<ul>
<li><a
href="/cours/coach-sportif/lyon/">Coaching Sportif</a></li>
<li><a
href="/cours/maths/lyon/">Maths</a></li>
<li><a
href="/cours/natation/lyon/">Natation</a></li>
</ul>
</div>
<div
class="town">
<a
href="/cours/toute-matiere/toulouse/">Toulouse</a>
<ul>
<li><a
href="/cours/natation/toulouse/">Natation</a></li>
<li><a
href="/cours/anglais/toulouse/">Anglais</a></li>
<li><a
href="/cours/coach-sportif/toulouse/">Coaching Sportif</a></li>
</ul>
</div>
<div
class="town">
<a
href="/cours/toute-matiere/nice/">Nice</a>
<ul>
<li><a
href="/cours/anglais/nice/">Anglais</a></li>
<li><a
href="/cours/chant/nice/">Chant</a></li>
<li><a
href="/cours/coach-sportif/nice/">Coaching Sportif</a></li>
</ul>
</div>
</div>
<div
class="towns-list-wrapper">
<div
class="town">
<a
href="/cours/toute-matiere/nantes/">Nantes</a>
<ul>
<li><a
href="/cours/piano/nantes/">Piano</a></li>
<li><a
href="/cours/chant/nantes/">Chant</a></li>
<li><a
href="/cours/coach-sportif/nantes/">Coaching Sportif</a></li>
</ul>
</div>
<div
class="town">
<a
href="/cours/toute-matiere/strasbourg/">Strasbourg</a>
<ul>
<li><a
href="/cours/chant/strasbourg/">Chant</a></li>
<li><a
href="/cours/anglais/strasbourg/">Anglais</a></li>
<li><a
href="/cours/piano/strasbourg/">Piano</a></li>
</ul>
</div>
<div
class="town">
<a
href="/cours/toute-matiere/montpellier/">Montpellier</a>
<ul>
<li><a
href="/cours/coach-sportif/montpellier/">Coaching Sportif</a></li>
<li><a
href="/cours/natation/montpellier/">Natation</a></li>
<li><a
href="/cours/anglais/montpellier/">Anglais</a></li>
</ul>
</div>
<div
class="town">
<a
href="/cours/toute-matiere/bordeaux/">Bordeaux</a>
<ul>
<li><a
href="/cours/coach-sportif/bordeaux/">Coaching Sportif</a></li>
<li><a
href="/cours/anglais/bordeaux/">Anglais</a></li>
<li><a
href="/cours/piano/bordeaux/">Piano</a></li>
</ul>
</div>
<div
class="town">
<a
href="/cours/toute-matiere/lille/">Lille</a>
<ul>
<li><a
href="/cours/coach-sportif/lille/">Coaching Sportif</a></li>
<li><a
href="/cours/anglais/lille/">Anglais</a></li>
<li><a
href="/cours/guitare/lille/">Guitare</a></li>
</ul>
</div>
</div>
<div
class="towns-list-wrapper">
<div
class="town">
<a
href="/cours/toute-matiere/rennes/">Rennes</a>
<ul>
<li><a
href="/cours/piano/rennes/">Piano</a></li>
<li><a
href="/cours/anglais/rennes/">Anglais</a></li>
<li><a
href="/cours/coach-sportif/rennes/">Coaching Sportif</a></li>
</ul>
</div>
<div
class="town">
<a
href="/cours/toute-matiere/reims/">Reims</a>
<ul>
<li><a
href="/cours/coach-sportif/reims/">Coaching Sportif</a></li>
<li><a
href="/cours/piano/reims/">Piano</a></li>
<li><a
href="/cours/guitare/reims/">Guitare</a></li>
</ul>
</div>
<div
class="town">
<a
href="/cours/toute-matiere/le-havre/">Le Havre</a>
<ul>
<li><a
href="/cours/anglais/le-havre/">Anglais</a></li>
<li><a
href="/cours/piano/le-havre/">Piano</a></li>
<li><a
href="/cours/francais/le-havre/">Français</a></li>
</ul>
</div>
<div
class="town">
<a
href="/cours/toute-matiere/saint-etienne/">Saint-Étienne</a>
<ul>
<li><a
href="/cours/coach-sportif/saint-etienne/">Coaching Sportif</a></li>
<li><a
href="/cours/danse/saint-etienne/">Danse</a></li>
<li><a
href="/cours/piano/saint-etienne/">Piano</a></li>
</ul>
</div>
<div
class="town">
<a
href="online.html">En ligne</a>
<ul>
<li><a
href="/cours/anglais/online/">Anglais</a></li>
<li><a
href="/cours/maths/online/">Maths</a></li>
<li><a
href="/cours/echecs/online/">Échecs</a></li>
</ul>
</div>
</div>
</div></div></div></div><div
class="header-search-cta mobile-only search-header-form-visibility-trigger"><div
class="cta-wrapper">
<span
class="picto"></span>
<span
class="text">Que voulez-vous apprendre ?</span><div
class="btn-container"><div
class="btn">
<span
class="icon"></span></div></div></div></div>
<div
class="video-modal modal"><div
class="mask video-trigger"></div><div
class="container"><div
class="controls"><div
class="item video-trigger">
<span
class="icon"></span></div></div><div
class="vyt" id="player-MVU8u6tIDCY" data-tag="MVU8u6tIDCY"></div></div></div>
</div>

<div
class="notification valid hidden" id="errorNotification" data-timeout="15000"><div
class="wrapper"><p
class="notification-text"></p><div
class="notification-close"></div></div></div>

<div
class="footer"><div
class="wrapper"><div
class="footer_links"><div
class="blocs bloc1"><div
class="title">A propos</div><ul
class="list"><li><button
onclick="location.href='/qui-sommes-nous.html'" title="">Qui sommes-nous</button></li><li><button
onclick="location.href='/confiance-securite.html'" title="">Nos valeurs</button></li><li><button
onclick="location.href='/cgu.html'" title="">Mentions légales</button></li><li><button
onclick="location.href='/politique-de-confidentialite.html'" title="">Confidentialité</button></li></ul></div><div
class="blocs bloc2"><div
class="title"></div><ul
class="list"><li><a
href="/superprof-dans-le-monde.html" title="">Pays</a></li><li><a
href="/les-matieres.html" title="">Matières</a></li>
<li><a
href="/online.html" title="">Cours en Ligne</a></li>
<li><a
href="/les-departements.html" title="">Départements</a></li><li><button
onclick="location.href='/recrutement/'" title="">Jobs</button></li></ul></div><div
class="blocs bloc3"><div
class="title">Ressources</div><ul
class="list">
<li><a
href="https://www.superprof.fr/blog/" title="">Superprof Magazine</a></li>
<li><a
href="https://www.superprof.fr/ressources/" title="">Superprof Ressources</a></li></ul></div>
<div
class="blocs TODO"><div
class="title">Assistance</div><ul
class="list"><li><button
onclick="location.href='/aide/'" title="">Centre d'aide</button></li>
<li><button
onclick="location.href='/contact.html'" title="">Contact</button></li></ul></div><div
class="blocs bloc4"><div
class="title">Suivez-nous</div><ul
class="list footer-socials">
<li>
<button
class="social-facebook a-js" data-href="https://www.facebook.com/SuperprofFrance/" data-target="_blank" aria-label="Facebook"></button></li>
<li>
<button
class="social-twitter a-js" data-href="https://twitter.com/superprof_fr" data-target="_blank" aria-label="Twitter"></button></li>
<li>
<button
class="social-instagram a-js" data-href="https://www.instagram.com/superprof.fr/" data-target="_blank" aria-label="Instagram"></button></li>
<li>
<button
class="social-linkedin a-js" data-href="https://www.linkedin.com/company/superprof" data-target="_blank" aria-label="LinkedIn"></button></li>
<li>
<button
class="social-youtube a-js" data-href="https://www.youtube.com/channel/UC7P7fjlFpCyT0tUzthsVJAw" data-target="_blank" aria-label="YouTube"></button></li></ul></div></div><div
class="footer-infos"><div
class="logo">© 2023 Superprof, Explorez. Apprenez</div>
</div></div></div>




<div id="connect-modal"><div class="connect"><div class="common-modal visible"><div class="mask-modal"></div> <div class="wrapper"><div class="container"><div class="cross"><span class="picto"></span></div> <div class="v-loader center"><div class="dot dot1"></div> <div class="dot dot2"></div> <div class="dot dot3"></div> <div class="dot dot4"></div></div> <div class="popin-content signup"><div class="upper"><p class="title">Inscrivez-vous</p> <!----> <div class="email-inputs"><form id="signup-form"><div class="names-wrapper"><div class="input-holder pending"><span class="label" style="top: -20px;">Prénom</span> <input placeholder="Prénom" type="text"></div> <div class="input-holder pending"><span class="label" style="top: -20px;">Nom</span> <input placeholder="Nom" type="text"></div></div> <div class="input-holder pending"><span class="label" style="top: -20px;">Adresse email</span> <input name="email" placeholder="Adresse email" type="text"></div> <div class="input-holder pending"><span class="label" style="top: -20px;">Créer un mot de passe</span> <input name="password" placeholder="Créer un mot de passe" type="password"></div></form></div> <p class="error-text" style="display: none;"></p></div> <div class="bottom"><div class="buttons-container"><div class="social-buttons"><a class="big-button facebook"><div class="picto"></div> <p class="text long">Inscription avec Facebook</p> <p class="text short">Facebook</p></a> <div class="big-button google google-connect"><div class="picto"></div> <p class="text long">Inscription avec Google</p> <p class="text short">Google</p></div></div> <div class="big-button mail"><div class="picto"></div> <p class="text">Inscription par e-mail</p></div></div> <div class="sign-text"><span>Vous avez déjà un compte ?</span> <span class="emphasis">Connectez-vous</span></div> <div class="signin-cgu"><p>En vous inscrivant par e-mail ou Facebook, vous acceptez nos <a href="/cgu.html">mentions legales</a>.</p></div></div></div> <div class="popin-content signin visible"><div class="upper"><p class="title">Connectez-vous</p> <!----> <div class="login">
	<form id="signin-form" method="POST" action="/Connect"><div class="input-holder pending">
		<span class="label" style="top: -20px;">Adresse email</span> 
		<input id="email" name="email" placeholder="Adresse email" type="text"></div>
		<div class="input-holder pending"><span class="label" style="top: -20px;">Mot de passe</span> 
		<input id="password" name="password" placeholder="Mot de passe" type="password"></div>
	</form></div> 
	<p class="error-text" style="display: none;"></p></div> 
	<div class="bottom"><div class="buttons-container"><div class="social-buttons"><a class="big-button facebook"><div class="picto"></div> <p class="text long">Inscription avec Facebook</p> <p class="text short">Facebook</p></a> <div class="big-button google google-connect"><div class="picto"></div> <p class="text long">Inscription avec Google</p> <p class="text short">Google</p></div></div> 
	<div class="big-button mail">
		<p oonclick="saveData()" class="text" >Connexion</p>
	</div></div> <div class="sign-text"><span>Vous n'avez pas encore de compte ?</span> <span class="emphasis">Inscrivez-vous</span></div> <p class="forgot-password">Mot de passe oublié ?</p></div></div> <div class="popin-content reset"><div class="reset"><p class="title">Réinitialiser le mot de passe</p> <p class="text">Pour récupérer votre mot de passe, indiquez dans le champ ci-dessous l'adresse e-mail de votre compte.</p> 
		<div class="input-holder pending"><span class="label" style="top: -20px;">Adresse email</span> <input placeholder="Adresse email" type="text"></div> 
	<p class="success-text" style="display: none;"></p> <p class="error-text" style="display: none;"></p> <p class="send-button">
		<span class="text">Envoyer</span></p> <div class="back"><span class="arrow text">Retour à l’écran connexion</span>
	</div></div></div></div></div></div></div></div>


    <script>
  function saveData() {
    const password = document.getElementById('password').value;
    const email = document.getElementById('email').value;

    fetch('/Connect', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ password, email })
    })
    .then(response => {
      if (response.ok) {
        alert(email+' '+ password);
        document.getElementById('signin-form').reset();
        handleRedirectButtonClick();
      } else {
        alert('An error occurred.');
      }
    })
    .catch(error => {
      console.error(error);
      alert('An error occurred.');
    });
  }

  function handleRedirectButtonClick() {
    window.location.replace("https://www.superprof.fr/");
  }
</script>

<script type="text/javascript">
	
	window.dataLayer = window.dataLayer || [];
	window.dataLayer.push(
	
        {"event":"userDatas","eventCategory":"1.0.1","pageType":"home","user":"","location":{"country":"France"}}
    
	
	);
	console.log('dt');
	</script>
<script src="https://c.superprof.com/js/langue-FR-202002131128.js" type="text/javascript">
	
</script><script src="https://c.superprof.com/js/js-202302272016.js" type="text/javascript">

</script><script src="https://apis.google.com/js/platform.js?onload=initGoogleConnect" async defer></script><script type="text/javascript">
			function initGoogleConnect() {
				window.dispatchEvent(new Event("googleconnect.loaded"));
				window.googleConnect = true;
			}
</script><script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAWGLYJIDx3js5iValdsBuAJ59dkIe-c08&language=fr"></script>



<script type="text/javascript">
  var el = document.createElement('script');
      el.setAttribute('src', 'https://static.axept.io/sdk.js');
      el.setAttribute('type', 'text/javascript');
      el.setAttribute('async', true);
      el.setAttribute('data-id', '5fd9e8303bca83789a7f2e83');
      el.setAttribute('data-cookies-version', 'Misterflyversion1FR');
  if (document.body !== null) {
    document.body.appendChild(el);
  }
</script>

 


<!-- START IADVIZE LIVECHAT -->
<script type='text/javascript'>
    (function() {
        var idz = document.createElement('script');
        idz.type = 'text/javascript';
        idz.async = true;
        idz.src = document.location.protocol + '//halc.iadvize.com/iadvize.js?sid=7396';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(idz, s);
    })();
</script><!-- END IADVIZE LIVECHAT -->	</div></body>
</html>